@import "../base/listas";
@import "../base/operators";
@import "../base/mixins";

/* Inicio */
#inicio {
  background-color: nth($bg-color, 2);

  .inicio-container {
    height: $section-height;

    .encabezado-item {
      margin-right: 25%;
      margin-left: 25%;
      font-family: "Roboto", sans-serif;
      font-size: 3em;
      color: black;
      background-color: nth($bg-color, 1);

      @media (max-width: 480px) {
        font-size: 1.5em;
      }
      @media (min-width: 481px) and (max-width: 728px) {
        font-size: 2em;
      }
      @media screen and (min-width: 729px) and (max-width: 1024px) {
       font-size: 2em;
      }
    }
    button {
      font-family: "Roboto", sans-serif;
      background-color: white;

      letter-spacing: 1px;
      @include transiciones(all 0.5s);

      &:hover {
        background-color: black;
        a {
          color: white;
        }
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .img-flecha {
    width: 20vh;
  }
}

/* Animaciones */
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}
.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}

/* Fin Inicio */
