@import "../base/listas";
@import "../base/extends";
@import "../base/operators";
@import "../base/mixins";

/* Skills */
#skills {
  background-color: nth($bg-color, 4);

  .skills-container {
    height: $section-height;

    h2 {
      @extend %encabezados;
    }

    p {
      @extend %parrafos;
    }

    .img-css,
    .img-html,
    .img-github {
      width: 10%;
      @include transiciones(all 1s);

      @media screen and (max-width: 480px) {
        width: 25%;
      }
      @media screen and (min-width: 480px) and (max-width: 728px) {
        width: 15%;
      }
      @media screen and (min-width: 729px) and (max-width: 1024px) {
        width: 17%;
      }

      &:hover {
        @include transformaciones(scale(2));

        @media screen and (max-width: 480px) {
          transform: scale(1.5);
        }
        @media screen and (min-width: 480px) and (max-width: 728px) {
          transform: scale(1.5);
        }
        @media screen and (min-width: 729px) and (max-width: 1024px) {
          transform: scale(1.5);
        }
      }
    }

    .img-js {
      width: 8%;
      @include transiciones(all 1s);

      @media screen and (max-width: 480px) {
        width: 18%;
      }
      @media screen and (min-width: 480px) and (max-width: 728px) {
        width: 11%;
      }
      @media screen and (min-width: 729px) and (max-width: 1024px) {
        width: 12%;
      }

      &:hover {
        @include transformaciones(scale(2));

        @media screen and (max-width: 480px) {
          transform: scale(1.5);
        }
        @media screen and (min-width: 480px) and (max-width: 728px) {
          transform: scale(1.5);
        }
        @media screen and (min-width: 729px) and (max-width: 1024px) {
          transform: scale(1.5);
        }
      }
    }
  }
}

/* Animacion */
.animate__animated.animate__slideInUp {
  --animate-duration: 2s;
}

/* Fin Skills */
