@import "../base/listas";
@import "../base/extends";
@import "../base/operators";
@import "../base/mixins";

/* Sobre mi */

#sobre-mi {
  background-color: nth($bg-color, 3);

  .sobre-mi-container {
    height: $section-height;

    h2 {
      @extend %encabezados;
    }

    p {
      @extend %parrafos;
    }
  }
  div {
    .img-sobre-mi2 {
      @include transiciones(all 2s);
      width: 60%;
      @media screen and (max-width: 480px) {
        width: 20%;
        transition: none;
      }
      @media screen and (min-width: 481px) and (max-width: 1199px) {
        transition: none;
      }

      &:hover {
        @include transformaciones(translate(-550px, -90px) rotate(-35deg));
        @media screen and (max-width: 480px) {
          transform: none;
        }
        @media screen and (min-width: 481px) and (max-width: 1199px) {
          transform: none;
        }
      }
    }
    .balde-con-agua {
      width: 30%;
      @media screen and (max-width: 480px) {
        width: 25%;
      }
    }
  }
}
/* Fin sobre mi */
