@import "../base/listas";
@import "../base/extends";
@import "../base/operators";
@import "../base/mixins";

/* Sobre mi */

#sobre-mi {
  background-color: nth($bg-color, 3);

  .sobre-mi-container {
    height: $section-height;

    h2 {
      @extend %encabezados;
    }

    p {
      @extend %parrafos;
    }
  }

  .img-sobre-mi2 {
    @include transiciones(all 1.5s);
    width: 35%;
    @media screen and (max-width: 480px) {
      width: 20%;
      transition: none;
    }
    @media screen and (min-width: 481px) and (max-width: 1199px) {
      transition: none;
    }

    &:hover {
      @include transformaciones(translate(-400px, -120px) rotate(-35deg));
      @media screen and (max-width: 480px) {
        transform: none;
      }
      @media screen and (min-width: 481px) and (max-width: 1199px) {
        transform: none;
      }
    }
  }
  .balde-con-agua {
    width: 45%;
    @media screen and (max-width: 480px) {
      width: 30%;
    }
  }
}
/* Fin sobre mi */
