/* Extends */

%encabezados {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    color: white;
}

%parrafos {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    color: white;
    background-color: nth($bg-color, 7)
}

/* Fin Extends */