/* Extends */

%encabezados {
    font-family: 'Comforter', cursive;
    font-size: 4em;
    color: white;
    letter-spacing: 10px;
}

%parrafos {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    color: white;
    background-color: nth($bg-color, 7)
}

/* Fin Extends */